@mixin bodyfont{
    font-family: 'Poppins', sans-serif;
    font-size:$fsize;
    line-height: 28px;
    font-weight: 400;
}
@mixin fbold{
    font-weight: 700;
    font-family: 'Poppins', sans-serif;
}
@mixin flight{
    font-weight: 300;
    font-family: 'Poppins', sans-serif;
}
@mixin positionabsolute{
    position:absolute;
    top:0;
    right:0;
    left:0;
    bottom:0;
}
@mixin leftnav{
    float:left;    
}
@mixin leftnavlist{
    padding:0 7px;
    color:$whitecolor;
    float:left;
}
@mixin background{
    background-size:cover;
    background-repeat: no-repeat;
    background-position: 0 0;
}
@mixin transition{
    transition:all 0.2s ease;
    -moz-transition:all 0.2s ease;
    -webkit-transition:all 0.2s ease;
    -ms-transition:all 0.2s ease;
    -o-transition:all 0.2s ease;
}
@mixin sectiontitle{
    font-size:$fsize * 2;
    font-weight: 300;
    
}
@mixin link{
    background:$primarycolor;
    color:$whitecolor!important;
    padding:10px;
    letter-spacing: 3px;
    border:1px solid transparent;
}
@mixin linkhover{
    background:$whitecolor;
    border:1px solid $primarycolor;
    color:$primarycolor!important;
}
@mixin sectionpadding{
    padding-top:30px;
    padding-bottom:30px;
}

//mixins for responsive breakpoints
@mixin mobile{
    @media (min-width:#{$mobile-width}) and (max-width:#{$tablet-width - 1px}){
        @content;
    }
}

@mixin tablet{
    @media (min-width:#{$tablet-width}) and (max-width:#{$laptop-width - 1px}){
        @content;
    }
}

@mixin laptop{
    @media (min-width:#{$laptop-width}) and (max-width:#{$desktop-width - 1px}){
       @content; 
    }
}
