@import 'variables';
@import 'mixins';
@import 'reset';

//poppins google font

@import url('https://fonts.googleapis.com/css?family=Poppins:300,400,700');

body{
    @include bodyfont;
}
.fbold{
    @include fbold;
}
.flight{
    @include flight;
}
li{
    list-style: none;
}
a{
    @include transition;

    &:hover{
        color:$primarycolor;
    }
}

//header
header{
    //top header 
    .top-header{
        min-height: 40px;
        color:$whitecolor;
        padding-top:5px;
        position: relative;
        @include transition;

        &:before{
            content:'';
            @include positionabsolute;
            width:1900px;
            height:40px;
            background:$primarycolor;
            right:-45%!important;
            left:inherit;
            transform:skew(-50deg);
        }
        
        ul{
            li{
                @include leftnavlist;

                .svg{
                    width:15px;
                }
                .icomoon{
                    font-size:15px;
                    color:$whitecolor;

                    &:hover{
                        color:darken($primarycolor, 10)
                    }
                }
            }
        }
    }
    //middle header
    .middle-header{
        background:$whitecolor;

        .navbar{
            padding:0;           
        }      

        .navbar-brand{
            img{
                width:225px;
                @include transition;
            }
        }

        .navbar-nav{
            @include mobile{
                padding:15px;
            }
            .nav-item{
                .nav-link{
                    color:$darkcolor!important;
                    opacity: 1;
                }
                .newlink{
                    background:$primarycolor;
                    color:$whitecolor!important;
                    border-radius:5px;
                    margin-left:15px;

                    @include mobile{
                        padding-left:15px;
                        margin-left:0;
                    }
                    @include tablet{
                        padding-left:15px;
                        margin-left:0;
                        margin-bottom:15px;
                    }
                }
            }
        }
    }
}

.fixed-theme{
    box-shadow: 3px 0 3px #666;
    .top-header{
        margin-top:-40px;
    } 
    .middle-header{
        .navbar-brand{
            img{
                width:200px;
            }
        }
    }
}

//carousel
.slider-home{
    .carousel-item {
        height: 100vh;
        min-height: 300px;
        background: no-repeat center center scroll;
        -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
        background-size: cover;
        width: 100%;

        &:before{
            content: '';
            position: absolute;
            left: 0;
            z-index: 0;
            top: 0;
            opacity: 0.6;
            width: 100%;
            height: 100%;
            background-image: linear-gradient(-45deg, #b45800, #2f0079);
            background-image: -moz-linear-gradient(-45deg, #b45800, #2f0079);
            background-image: -webkit-linear-gradient(-45deg, #b45800, #2f0079);
            background-image: -ms-linear-gradient(-45deg, #b45800, #2f0079);
            background-image: -o-linear-gradient(-45deg, #b45800, #2f0079)
        }
        .carousel-caption{
            text-align: left;
            bottom:42%;
            width:50%;            

            @include mobile{
                bottom:35%;
                width:95%;
                left:5%;
            }
            @include tablet{
                bottom:40%;
                width:95%;
                left:5%;
            }
            p{
                font-size:$fsize + 11;

                @include mobile{
                    font-size:$fsize + 5;
                }
            }
            .slidertitle{
                font-size:$fsize * 5;

                @include mobile{
                    font-size:$fsize * 3;
                }
            }
            &:before{
                content:'';
                width:65px;
                height:3px;
                background:$primarycolor;
                @include positionabsolute;
                top:10px;
            }
        }        
    }
    .carousel-indicators{
        li{
            opacity:1;
        }
        .active{
            background-color:$primarycolor;
        }        
    }
}

//home services
.services-home{
    background-image: url(../img/homeservidesbg.jpg);
    @include background;
    min-height: 400px;
    padding:100px 0;

    @include mobile{
        padding:30px 0;
    }
    @include tablet{
        padding:30px 0;
    }
    
    .servicecol{
        @include mobile{
            padding-bottom:25px;
        }
        @include tablet{
            padding-bottom:25px;
        }
        .svg{
            width:75px;
        }
        .icomoon{
            font-size:75px;
            color:$whitecolor;
        }
        h3{
            font-size:$fsize + 8;
            color:$whitecolor;
            padding:12px 0;
            letter-spacing: 5px;

            a{
                color:$whitecolor;
            }
        }
        p{
            color:$whitecolor;
        }
    }
}

//title
.title-home{
    margin-bottom:20px;
    h4{
        font-size:$fsize + 6;
        color:$primarycolor;
    }
    .sectiontitle{
        @include sectiontitle;
        padding:5px 0;
        position: relative;

        span{
            @include fbold;
            color:$primarycolor;
        }       
    }
    a{
        color:$darkcolor;
    }
    
}
.subtitle-home{
    font-size:$fsize + 4;
    text-transform: uppercase;
    color:$primarycolor;
    letter-spacing: 1px;
}
.listitems{
   
    li{
        padding-bottom:15px;
        font-size:$fsize;
        line-height: 24px;
        color:$graycolor;

        .svg{
            width:14px;
            margin-right:10px;
        }
        &:before{
            content: "\e900";
            font-family: 'icomoon' !important;
            color:$primarycolor;
            font-size:15px;
            padding-right:7px;
        }
    }
}
.link{
   @include link;
   @include transition;

   &:hover{
    @include linkhover;
    text-decoration: none;
}
}
//about home
.about-home{
    @include sectionpadding;

    @include tablet{
        .link{
            margin-bottom:20px;
            float: left;
        }
    }
}
.home-courses{
    background:#eeefee;
    padding:25px 0;

    .coursecol{
        padding-bottom:20px;
    }
}
.home-testimonials{
    @include sectionpadding;

    #testimonials-car{
        .carousel-item{
            img{
               width:75px;
               height:75px;   
               border-radius:50%;    
               box-shadow: 0 3px 5px #888;       
            }
            h4{
                font-size:$fsize + 6;
                @include fbold;
            }
            .desi{
                font-size:$fsize - 2;
                color:#888;
            }
        }
    }
    .svg{
        width:30px;
    }
    .carousel-control-next{
        height:50px;
        width:50px;
        right:37%;
        top:15px;

        @include mobile{
            right:20%;
        }

        .icomoon{
            font-size:25px;
            color:$graycolor;

            &:hover{
                color:$primarycolor;
            }
        }
    }
    .carousel-control-prev{
        height:50px;
        width:50px;
        left:35%;
        top:15px;

        @include mobile{
            left:20%;
        }

        .icomoon{
            font-size:25px;
            color:$graycolor;

            &:hover{
                color:$primarycolor;
            }
        }
    }    
}

.free-consult{
    background: #dff2f6;
    padding:100px 0;
}
.free-consult{
    .form-control{
        border:none;
        background:#d4e6ea;
        height:50px;
        font-size:$fsize - 1;
        border-radius:20px;
        padding-left:20px;

        &::placeholder{
            color:#609ba8;
        }

        &:focus{
            box-shadow: none;
            border:none;
        }
    }
    .btn{
        background:#609ba8;
        color:$whitecolor;
        border-radius:20px;
        padding:6px 20px;
    }
}

//footer
footer{
    background:$primarycolor;
    min-height: 100px;
    @include sectionpadding;

    #movetop{
        width:45px;
        height:45px;
        background-color:darken($primarycolor, 10);   
        bottom:0;
        right:4px;
        border-radius:50%;
        text-align: center;
        line-height: 50px;           
        position:fixed;
        display: none;
        border:1px solid transparent;

        .svg{
            width:20px;
        }
        .icomoon{
            font-size:20px;
            color:$whitecolor;
        }        

        &:hover{
           background:$primarycolor;  
        }            
    }

    .nav{
        li{
           a{
               width:50px;
               height:50px;
               background-color:darken($primarycolor, 10);
               display: inline-block;
               text-align: center;
               line-height: 55px;
               border-radius:50%;
               border:1px solid transparent;
               @include transition;
               margin:0 2px;

               &:hover{
                   background:none;
                   border:1px solid $whitecolor;
               }

               .svg{
                   width:20px;
               }
               .icomoon {
                font-size:20px;
                color:$whitecolor;
                }
           } 
        }
    }
    .footercontact{
        p{
            color:$whitecolor;

            span{
                padding:0 10px;

                @include mobile{
                    float:left;
                    padding-top:10px;
                }
            }
        }
    } 
}
//sub page styles
.subpage{
    min-height: 800px;

    p{
        color:#666666;
    }
    //header of sub page
    .subpage-header{
        background-image: url(../img/pageheaderbg.jpg);
        @include background;
        min-height: 350px;
        position: relative;
        padding-top:200px;

        @include mobile{
            padding-top:150px;
            min-height: 280px;
        }
        @include tablet{
            padding-top:140px;
            min-height: 236px;
        }


        .breadcumb-overlay{
            position: absolute;
            background: rgba(6,34,65,0.70) none repeat scroll 0 0;
            top: 0;
            width: 100%;
            left: 0;
            height: 100%;
        }
        .header-page{
            h1{
                font-size:$fsize + 22;
                color:$whitecolor;
                @include fbold;
            }
            p{
                color:$whitecolor;
            }
        }
    }  
    //subpage main
    .subpage-main{
        padding:50px 0;

        .pagecol{
            @include mobile{
                margin-bottom:20px;
            }
            .svg{
                width:60px;
            }
            .icomoon{
                font-size:60px;
            }
            .subtitle-home{
                padding:10px 0;              
            }
        }
    }
    .course-col{
        min-height: 200px;
        box-shadow: 0 0 3px #666;
        margin-bottom:25px;

        .facimg{
            img{
                width:50px;
                height:50px;
                border-radius:50%;
            }
            small{
                color:#666;
                font-size:$fsize - 2;
            }
        }
        .coursedet{
            border-top:1px dashed #ccc;

            small{
                color:#666;
                font-size:$fsize - 2;
            }
            p{
                font-size:$fsize - 1;
                line-height: 24px;
                padding-top:10px;
            }
        }
        .duration{
            padding:20px;
            border-top:1px dashed #ccc;
        }
    }
    .testrow{

        margin-bottom:30px;

        .testimg{
            border:1px solid #ccc;
            padding:2px;
        }
        small{
            font-size:$fsize - 2;
            color:#666;
        }
        .quoteimg{
         
            position:absolute;
            top:0;
            left:0;

            img{
                width:20px;
            }
        }
        article{
            padding-left:25px;

            p{
                text-align:justify;
            }
        }
    }
    .contactdetails{
        .svg{
            width:50px;
            height:50px;
            padding:10px;
            border:1px solid #ccc;
        }
        .icomoon{
            width:50px;
            line-height: 48px;
            padding:13px;
            border:1px solid #ccc;
            font-size:25px;
        }
    }
    .form-contactpage{
        @include mobile{
            padding-top:20px;
        }
        .form-control{
            border-radius:0;
            height:42px;
            font-size:$fsize - 1;

            &::placeholder{
                color:#b6b6b6;
            }
            &:focus{
                box-shadow: none; 
                outline:none;
            }
        }
        .btn{
            background:$primarycolor;
            padding:7px 15px;
            color:$whitecolor;
            
        }
    }
    //course detail 
    .coursedetail{        
        .coursetitle{
            @include sectiontitle;
            padding-bottom:15px;
        }

        .prdetails{
            li{
               border-right:1px solid #ccc;
               padding-right:25px;
               margin-right:15px;

               @include mobile{
                   width:44%;
                   margin-bottom:10px;
               }

               .svg{
                   width:16px;
                   margin-right:10px;
               }

               &:last-child{
                   padding-right:0;
                   border-right:none;
               }

                p{
                    small{
                        font-size:$fsize - 2;
                        color:#666;
                        text-transform: uppercase
                    }
                }

                h3{
                    font-size:$fsize + 3;
                }
            }           
        }
        .coursedetailbanner{
            padding:25px 0;
        }
        
    }
    .coursetab{
        h3{
            font-size:$fsize + 6;    
            padding-bottom:15px;           
        }
        p{
            text-align:justify;
            padding-bottom:15px;
        }
    }
    small{
        font-size:$fsize - 2;
        color:$graycolor;
    }
    .rightlist{
        li{
            padding:12px 0;
            border-bottom:1px solid #ccc;
            a{
                color:$graycolor;

                &:hover{
                    text-decoration: none;
                    color:$primarycolor;
                }
              
            }
        }
    }
    .linkanchor{
        color:$graycolor;

        .icomoon{
            color:$primarycolor;
            margin-right:10px;
        }
    }
    .accordian-tab{

        h1 {
            border-bottom: 1px solid #ececec;
            font-weight: 300;
            margin-bottom: 2em;
            padding-bottom: 1em;
            text-align: center;
          }
          h1 span {
            display: block;
            font-size: .5em;
          }
          a {
            border-bottom: 1px solid #ec407a;
            color: #607d8b;
            text-decoration: none;

            &:hover{
                color: #ec407a;
                border-bottom: none;
            }
            &:focus{
                color: #ec407a;
                border-bottom: none;
            }
          }         
       
          h3 {
            font-weight: 500;
          }
          .intro {
            font-size: 1.25em;
          }
          .js .panel-title {
            margin: 0;
          }
          .panel-title {
            a {
                border-bottom: none;
                color: #292929;
                display: block;
                padding: 1.25em 0;
                position: relative;
                text-decoration: none;
                -webkit-transition: color 200ms ease 0s;
                -moz-transition: color 200ms ease 0s;
                transition: color 200ms ease 0s;
                width: 100%;                

                .icon {
                    color: #9e9e9e;
                    position: absolute;
                    right: 0;
                    -webkit-transition: all 200ms ease 0s;
                    -moz-transition: all 200ms ease 0s;
                    transition: all 200ms ease 0s;
                }

                &:hover{
                    color: #37474f;
                    .icon{
                        color: #ec407a;
                    }
                }               
                
              }
              .active{
                color: #37474f;

                .icon {
                    color: #ec407a;
                    -webkit-transform: rotate(45deg);
                    -moz-transform: rotate(45deg);
                    transform: rotate(45deg);
                }

                .js{
                    .accordion {
                    border-bottom: 1px solid #ececec;
                    margin: 2em 0;
                    }
                }                    
            }
        } 
        .accordion .panel-title a {
        border-top: 1px solid #ececec;
        }
        [id^="panel-"] {
        padding-bottom: 2em;
        }
    }
}


#myModal2{
    .modal-body{
        background:#dff2f6;
    }
}
.form-touch{
    .form-control{
        border:none;
        background:#d4e6ea;
        height:50px;
        font-size:$fsize - 1;
        border-radius:20px;
        padding-left:20px;
    
        &::placeholder{
            color:#609ba8;
        }
    
        &:focus{
            box-shadow: none;
            border:none;
        }
    }
    .btn{
        background:#609ba8;
        color:$whitecolor;
        border-radius:20px;
        padding:6px 20px;
    }
}

@include mobile{
    .dmnone{
        display:none;
    }
    .rtcourse{
        padding-top:25px;
    }
    .modal {
        .modal-dialog{
            width:100%!important;
        }
    }
}


