/* 
html5doctor.com Reset Stylesheet
v1.6.1
Last Updated: 2010-09-17
Author: Richard Clark - http://richclarkdesign.com 
Twitter: @rich_clark
*/
@import url("https://fonts.googleapis.com/css?family=Poppins:300,400,700");
html, body, div, span, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, abbr, address, cite, code, del, dfn, em, img, ins, kbd, q, samp, small, strong, sub, sup, var, b, i, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
}

body {
  line-height: 1;
}

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block;
}

nav ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after, q:before, q:after {
  content: '';
  content: none;
}

a {
  margin: 0;
  padding: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
}

/* change colours to suit your needs */
ins {
  background-color: #ff9;
  color: #000;
  text-decoration: none;
}

/* change colours to suit your needs */
mark {
  background-color: #ff9;
  color: #000;
  font-style: italic;
  font-weight: bold;
}

del {
  text-decoration: line-through;
}

abbr[title], dfn[title] {
  border-bottom: 1px dotted;
  cursor: help;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* change border colour to suit your needs */
hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #cccccc;
  margin: 1em 0;
  padding: 0;
}

input, select {
  vertical-align: middle;
}

body {
  font-family: 'Poppins', sans-serif;
  font-size: 14px;
  line-height: 28px;
  font-weight: 400;
}

.fbold {
  font-weight: 700;
  font-family: 'Poppins', sans-serif;
}

.flight {
  font-weight: 300;
  font-family: 'Poppins', sans-serif;
}

li {
  list-style: none;
}

a {
  transition: all 0.2s ease;
  -moz-transition: all 0.2s ease;
  -webkit-transition: all 0.2s ease;
  -ms-transition: all 0.2s ease;
  -o-transition: all 0.2s ease;
}

a:hover {
  color: #0077c0;
}

header .top-header {
  min-height: 40px;
  color: #ffffff;
  padding-top: 5px;
  position: relative;
  transition: all 0.2s ease;
  -moz-transition: all 0.2s ease;
  -webkit-transition: all 0.2s ease;
  -ms-transition: all 0.2s ease;
  -o-transition: all 0.2s ease;
}

header .top-header:before {
  content: '';
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  width: 1900px;
  height: 40px;
  background: #0077c0;
  right: -45% !important;
  left: inherit;
  -webkit-transform: skew(-50deg);
          transform: skew(-50deg);
}

header .top-header ul li {
  padding: 0 7px;
  color: #ffffff;
  float: left;
}

header .top-header ul li .svg {
  width: 15px;
}

header .top-header ul li .icomoon {
  font-size: 15px;
  color: #ffffff;
}

header .top-header ul li .icomoon:hover {
  color: #00578d;
}

header .middle-header {
  background: #ffffff;
}

header .middle-header .navbar {
  padding: 0;
}

header .middle-header .navbar-brand img {
  width: 225px;
  transition: all 0.2s ease;
  -moz-transition: all 0.2s ease;
  -webkit-transition: all 0.2s ease;
  -ms-transition: all 0.2s ease;
  -o-transition: all 0.2s ease;
}

@media (min-width: 320px) and (max-width: 767px) {
  header .middle-header .navbar-nav {
    padding: 15px;
  }
}

header .middle-header .navbar-nav .nav-item .nav-link {
  color: #000000 !important;
  opacity: 1;
}

header .middle-header .navbar-nav .nav-item .newlink {
  background: #0077c0;
  color: #ffffff !important;
  border-radius: 5px;
  margin-left: 15px;
}

@media (min-width: 320px) and (max-width: 767px) {
  header .middle-header .navbar-nav .nav-item .newlink {
    padding-left: 15px;
    margin-left: 0;
  }
}

@media (min-width: 768px) and (max-width: 1199px) {
  header .middle-header .navbar-nav .nav-item .newlink {
    padding-left: 15px;
    margin-left: 0;
    margin-bottom: 15px;
  }
}

.fixed-theme {
  -webkit-box-shadow: 3px 0 3px #666;
          box-shadow: 3px 0 3px #666;
}

.fixed-theme .top-header {
  margin-top: -40px;
}

.fixed-theme .middle-header .navbar-brand img {
  width: 200px;
}

.slider-home .carousel-item {
  height: 100vh;
  min-height: 300px;
  background: no-repeat center center scroll;
  background-size: cover;
  width: 100%;
}

.slider-home .carousel-item:before {
  content: '';
  position: absolute;
  left: 0;
  z-index: 0;
  top: 0;
  opacity: 0.6;
  width: 100%;
  height: 100%;
  background-image: linear-gradient(-45deg, #b45800, #2f0079);
  background-image: -o-linear-gradient(-45deg, #b45800, #2f0079);
}

.slider-home .carousel-item .carousel-caption {
  text-align: left;
  bottom: 42%;
  width: 50%;
}

@media (min-width: 320px) and (max-width: 767px) {
  .slider-home .carousel-item .carousel-caption {
    bottom: 35%;
    width: 95%;
    left: 5%;
  }
}

@media (min-width: 768px) and (max-width: 1199px) {
  .slider-home .carousel-item .carousel-caption {
    bottom: 40%;
    width: 95%;
    left: 5%;
  }
}

.slider-home .carousel-item .carousel-caption p {
  font-size: 25px;
}

@media (min-width: 320px) and (max-width: 767px) {
  .slider-home .carousel-item .carousel-caption p {
    font-size: 19px;
  }
}

.slider-home .carousel-item .carousel-caption .slidertitle {
  font-size: 70px;
}

@media (min-width: 320px) and (max-width: 767px) {
  .slider-home .carousel-item .carousel-caption .slidertitle {
    font-size: 42px;
  }
}

.slider-home .carousel-item .carousel-caption:before {
  content: '';
  width: 65px;
  height: 3px;
  background: #0077c0;
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  top: 10px;
}

.slider-home .carousel-indicators li {
  opacity: 1;
}

.slider-home .carousel-indicators .active {
  background-color: #0077c0;
}

.services-home {
  background-image: url(../img/homeservidesbg.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 0 0;
  min-height: 400px;
  padding: 100px 0;
}

@media (min-width: 320px) and (max-width: 767px) {
  .services-home {
    padding: 30px 0;
  }
}

@media (min-width: 768px) and (max-width: 1199px) {
  .services-home {
    padding: 30px 0;
  }
}

@media (min-width: 320px) and (max-width: 767px) {
  .services-home .servicecol {
    padding-bottom: 25px;
  }
}

@media (min-width: 768px) and (max-width: 1199px) {
  .services-home .servicecol {
    padding-bottom: 25px;
  }
}

.services-home .servicecol .svg {
  width: 75px;
}

.services-home .servicecol .icomoon {
  font-size: 75px;
  color: #ffffff;
}

.services-home .servicecol h3 {
  font-size: 22px;
  color: #ffffff;
  padding: 12px 0;
  letter-spacing: 5px;
}

.services-home .servicecol h3 a {
  color: #ffffff;
}

.services-home .servicecol p {
  color: #ffffff;
}

.title-home {
  margin-bottom: 20px;
}

.title-home h4 {
  font-size: 20px;
  color: #0077c0;
}

.title-home .sectiontitle {
  font-size: 28px;
  font-weight: 300;
  padding: 5px 0;
  position: relative;
}

.title-home .sectiontitle span {
  font-weight: 700;
  font-family: 'Poppins', sans-serif;
  color: #0077c0;
}

.title-home a {
  color: #000000;
}

.subtitle-home {
  font-size: 18px;
  text-transform: uppercase;
  color: #0077c0;
  letter-spacing: 1px;
}

.listitems li {
  padding-bottom: 15px;
  font-size: 14px;
  line-height: 24px;
  color: #666666;
}

.listitems li .svg {
  width: 14px;
  margin-right: 10px;
}

.listitems li:before {
  content: "\e900";
  font-family: 'icomoon' !important;
  color: #0077c0;
  font-size: 15px;
  padding-right: 7px;
}

.link {
  background: #0077c0;
  color: #ffffff !important;
  padding: 10px;
  letter-spacing: 3px;
  border: 1px solid transparent;
  transition: all 0.2s ease;
  -moz-transition: all 0.2s ease;
  -webkit-transition: all 0.2s ease;
  -ms-transition: all 0.2s ease;
  -o-transition: all 0.2s ease;
}

.link:hover {
  background: #ffffff;
  border: 1px solid #0077c0;
  color: #0077c0 !important;
  text-decoration: none;
}

.about-home {
  padding-top: 30px;
  padding-bottom: 30px;
}

@media (min-width: 768px) and (max-width: 1199px) {
  .about-home .link {
    margin-bottom: 20px;
    float: left;
  }
}

.home-courses {
  background: #eeefee;
  padding: 25px 0;
}

.home-courses .coursecol {
  padding-bottom: 20px;
}

.home-testimonials {
  padding-top: 30px;
  padding-bottom: 30px;
}

.home-testimonials #testimonials-car .carousel-item img {
  width: 75px;
  height: 75px;
  border-radius: 50%;
  -webkit-box-shadow: 0 3px 5px #888;
          box-shadow: 0 3px 5px #888;
}

.home-testimonials #testimonials-car .carousel-item h4 {
  font-size: 20px;
  font-weight: 700;
  font-family: 'Poppins', sans-serif;
}

.home-testimonials #testimonials-car .carousel-item .desi {
  font-size: 12px;
  color: #888;
}

.home-testimonials .svg {
  width: 30px;
}

.home-testimonials .carousel-control-next {
  height: 50px;
  width: 50px;
  right: 37%;
  top: 15px;
}

@media (min-width: 320px) and (max-width: 767px) {
  .home-testimonials .carousel-control-next {
    right: 20%;
  }
}

.home-testimonials .carousel-control-next .icomoon {
  font-size: 25px;
  color: #666666;
}

.home-testimonials .carousel-control-next .icomoon:hover {
  color: #0077c0;
}

.home-testimonials .carousel-control-prev {
  height: 50px;
  width: 50px;
  left: 35%;
  top: 15px;
}

@media (min-width: 320px) and (max-width: 767px) {
  .home-testimonials .carousel-control-prev {
    left: 20%;
  }
}

.home-testimonials .carousel-control-prev .icomoon {
  font-size: 25px;
  color: #666666;
}

.home-testimonials .carousel-control-prev .icomoon:hover {
  color: #0077c0;
}

.free-consult {
  background: #dff2f6;
  padding: 100px 0;
}

.free-consult .form-control {
  border: none;
  background: #d4e6ea;
  height: 50px;
  font-size: 13px;
  border-radius: 20px;
  padding-left: 20px;
}

.free-consult .form-control::-webkit-input-placeholder {
  color: #609ba8;
}

.free-consult .form-control:-ms-input-placeholder {
  color: #609ba8;
}

.free-consult .form-control::-ms-input-placeholder {
  color: #609ba8;
}

.free-consult .form-control::placeholder {
  color: #609ba8;
}

.free-consult .form-control:focus {
  -webkit-box-shadow: none;
          box-shadow: none;
  border: none;
}

.free-consult .btn {
  background: #609ba8;
  color: #ffffff;
  border-radius: 20px;
  padding: 6px 20px;
}

footer {
  background: #0077c0;
  min-height: 100px;
  padding-top: 30px;
  padding-bottom: 30px;
}

footer #movetop {
  width: 45px;
  height: 45px;
  background-color: #00578d;
  bottom: 0;
  right: 4px;
  border-radius: 50%;
  text-align: center;
  line-height: 50px;
  position: fixed;
  display: none;
  border: 1px solid transparent;
}

footer #movetop .svg {
  width: 20px;
}

footer #movetop .icomoon {
  font-size: 20px;
  color: #ffffff;
}

footer #movetop:hover {
  background: #0077c0;
}

footer .nav li a {
  width: 50px;
  height: 50px;
  background-color: #00578d;
  display: inline-block;
  text-align: center;
  line-height: 55px;
  border-radius: 50%;
  border: 1px solid transparent;
  transition: all 0.2s ease;
  -moz-transition: all 0.2s ease;
  -webkit-transition: all 0.2s ease;
  -ms-transition: all 0.2s ease;
  -o-transition: all 0.2s ease;
  margin: 0 2px;
}

footer .nav li a:hover {
  background: none;
  border: 1px solid #ffffff;
}

footer .nav li a .svg {
  width: 20px;
}

footer .nav li a .icomoon {
  font-size: 20px;
  color: #ffffff;
}

footer .footercontact p {
  color: #ffffff;
}

footer .footercontact p span {
  padding: 0 10px;
}

@media (min-width: 320px) and (max-width: 767px) {
  footer .footercontact p span {
    float: left;
    padding-top: 10px;
  }
}

.subpage {
  min-height: 800px;
}

.subpage p {
  color: #666666;
}

.subpage .subpage-header {
  background-image: url(../img/pageheaderbg.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 0 0;
  min-height: 350px;
  position: relative;
  padding-top: 200px;
}

@media (min-width: 320px) and (max-width: 767px) {
  .subpage .subpage-header {
    padding-top: 150px;
    min-height: 280px;
  }
}

@media (min-width: 768px) and (max-width: 1199px) {
  .subpage .subpage-header {
    padding-top: 140px;
    min-height: 236px;
  }
}

.subpage .subpage-header .breadcumb-overlay {
  position: absolute;
  background: rgba(6, 34, 65, 0.7) none repeat scroll 0 0;
  top: 0;
  width: 100%;
  left: 0;
  height: 100%;
}

.subpage .subpage-header .header-page h1 {
  font-size: 36px;
  color: #ffffff;
  font-weight: 700;
  font-family: 'Poppins', sans-serif;
}

.subpage .subpage-header .header-page p {
  color: #ffffff;
}

.subpage .subpage-main {
  padding: 50px 0;
}

@media (min-width: 320px) and (max-width: 767px) {
  .subpage .subpage-main .pagecol {
    margin-bottom: 20px;
  }
}

.subpage .subpage-main .pagecol .svg {
  width: 60px;
}

.subpage .subpage-main .pagecol .icomoon {
  font-size: 60px;
}

.subpage .subpage-main .pagecol .subtitle-home {
  padding: 10px 0;
}

.subpage .course-col {
  min-height: 200px;
  -webkit-box-shadow: 0 0 3px #666;
          box-shadow: 0 0 3px #666;
  margin-bottom: 25px;
}

.subpage .course-col .facimg img {
  width: 50px;
  height: 50px;
  border-radius: 50%;
}

.subpage .course-col .facimg small {
  color: #666;
  font-size: 12px;
}

.subpage .course-col .coursedet {
  border-top: 1px dashed #ccc;
}

.subpage .course-col .coursedet small {
  color: #666;
  font-size: 12px;
}

.subpage .course-col .coursedet p {
  font-size: 13px;
  line-height: 24px;
  padding-top: 10px;
}

.subpage .course-col .duration {
  padding: 20px;
  border-top: 1px dashed #ccc;
}

.subpage .testrow {
  margin-bottom: 30px;
}

.subpage .testrow .testimg {
  border: 1px solid #ccc;
  padding: 2px;
}

.subpage .testrow small {
  font-size: 12px;
  color: #666;
}

.subpage .testrow .quoteimg {
  position: absolute;
  top: 0;
  left: 0;
}

.subpage .testrow .quoteimg img {
  width: 20px;
}

.subpage .testrow article {
  padding-left: 25px;
}

.subpage .testrow article p {
  text-align: justify;
}

.subpage .contactdetails .svg {
  width: 50px;
  height: 50px;
  padding: 10px;
  border: 1px solid #ccc;
}

.subpage .contactdetails .icomoon {
  width: 50px;
  line-height: 48px;
  padding: 13px;
  border: 1px solid #ccc;
  font-size: 25px;
}

@media (min-width: 320px) and (max-width: 767px) {
  .subpage .form-contactpage {
    padding-top: 20px;
  }
}

.subpage .form-contactpage .form-control {
  border-radius: 0;
  height: 42px;
  font-size: 13px;
}

.subpage .form-contactpage .form-control::-webkit-input-placeholder {
  color: #b6b6b6;
}

.subpage .form-contactpage .form-control:-ms-input-placeholder {
  color: #b6b6b6;
}

.subpage .form-contactpage .form-control::-ms-input-placeholder {
  color: #b6b6b6;
}

.subpage .form-contactpage .form-control::placeholder {
  color: #b6b6b6;
}

.subpage .form-contactpage .form-control:focus {
  -webkit-box-shadow: none;
          box-shadow: none;
  outline: none;
}

.subpage .form-contactpage .btn {
  background: #0077c0;
  padding: 7px 15px;
  color: #ffffff;
}

.subpage .coursedetail .coursetitle {
  font-size: 28px;
  font-weight: 300;
  padding-bottom: 15px;
}

.subpage .coursedetail .prdetails li {
  border-right: 1px solid #ccc;
  padding-right: 25px;
  margin-right: 15px;
}

@media (min-width: 320px) and (max-width: 767px) {
  .subpage .coursedetail .prdetails li {
    width: 44%;
    margin-bottom: 10px;
  }
}

.subpage .coursedetail .prdetails li .svg {
  width: 16px;
  margin-right: 10px;
}

.subpage .coursedetail .prdetails li:last-child {
  padding-right: 0;
  border-right: none;
}

.subpage .coursedetail .prdetails li p small {
  font-size: 12px;
  color: #666;
  text-transform: uppercase;
}

.subpage .coursedetail .prdetails li h3 {
  font-size: 17px;
}

.subpage .coursedetail .coursedetailbanner {
  padding: 25px 0;
}

.subpage .coursetab h3 {
  font-size: 20px;
  padding-bottom: 15px;
}

.subpage .coursetab p {
  text-align: justify;
  padding-bottom: 15px;
}

.subpage small {
  font-size: 12px;
  color: #666666;
}

.subpage .rightlist li {
  padding: 12px 0;
  border-bottom: 1px solid #ccc;
}

.subpage .rightlist li a {
  color: #666666;
}

.subpage .rightlist li a:hover {
  text-decoration: none;
  color: #0077c0;
}

.subpage .linkanchor {
  color: #666666;
}

.subpage .linkanchor .icomoon {
  color: #0077c0;
  margin-right: 10px;
}

.subpage .accordian-tab h1 {
  border-bottom: 1px solid #ececec;
  font-weight: 300;
  margin-bottom: 2em;
  padding-bottom: 1em;
  text-align: center;
}

.subpage .accordian-tab h1 span {
  display: block;
  font-size: .5em;
}

.subpage .accordian-tab a {
  border-bottom: 1px solid #ec407a;
  color: #607d8b;
  text-decoration: none;
}

.subpage .accordian-tab a:hover {
  color: #ec407a;
  border-bottom: none;
}

.subpage .accordian-tab a:focus {
  color: #ec407a;
  border-bottom: none;
}

.subpage .accordian-tab h3 {
  font-weight: 500;
}

.subpage .accordian-tab .intro {
  font-size: 1.25em;
}

.subpage .accordian-tab .js .panel-title {
  margin: 0;
}

.subpage .accordian-tab .panel-title a {
  border-bottom: none;
  color: #292929;
  display: block;
  padding: 1.25em 0;
  position: relative;
  text-decoration: none;
  -webkit-transition: color 200ms ease 0s;
  transition: color 200ms ease 0s;
  width: 100%;
}

.subpage .accordian-tab .panel-title a .icon {
  color: #9e9e9e;
  position: absolute;
  right: 0;
  -webkit-transition: all 200ms ease 0s;
  transition: all 200ms ease 0s;
}

.subpage .accordian-tab .panel-title a:hover {
  color: #37474f;
}

.subpage .accordian-tab .panel-title a:hover .icon {
  color: #ec407a;
}

.subpage .accordian-tab .panel-title .active {
  color: #37474f;
}

.subpage .accordian-tab .panel-title .active .icon {
  color: #ec407a;
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
}

.subpage .accordian-tab .panel-title .active .js .accordion {
  border-bottom: 1px solid #ececec;
  margin: 2em 0;
}

.subpage .accordian-tab .accordion .panel-title a {
  border-top: 1px solid #ececec;
}

.subpage .accordian-tab [id^="panel-"] {
  padding-bottom: 2em;
}

#myModal2 .modal-body {
  background: #dff2f6;
}

.form-touch .form-control {
  border: none;
  background: #d4e6ea;
  height: 50px;
  font-size: 13px;
  border-radius: 20px;
  padding-left: 20px;
}

.form-touch .form-control::-webkit-input-placeholder {
  color: #609ba8;
}

.form-touch .form-control:-ms-input-placeholder {
  color: #609ba8;
}

.form-touch .form-control::-ms-input-placeholder {
  color: #609ba8;
}

.form-touch .form-control::placeholder {
  color: #609ba8;
}

.form-touch .form-control:focus {
  -webkit-box-shadow: none;
          box-shadow: none;
  border: none;
}

.form-touch .btn {
  background: #609ba8;
  color: #ffffff;
  border-radius: 20px;
  padding: 6px 20px;
}

@media (min-width: 320px) and (max-width: 767px) {
  .dmnone {
    display: none;
  }
  .rtcourse {
    padding-top: 25px;
  }
  .modal .modal-dialog {
    width: 100% !important;
  }
}
/*# sourceMappingURL=style.css.map */