//colours

$primarycolor:#0077c0;
$whitecolor:#ffffff;
$darkcolor:#000000;
$fsize:14px;
$graycolor:#666666;

//responsive devices
$mobile-width:320px;
$tablet-width:768px;
$laptop-width:992px;
$laptop-width:1200px;